include doctype
include header

body
	#header
		h1 simple-cms
		#page
			form(action="/", method="post") 
				label(for="id") Id
				input#id(type="text", name="id")
				label(for="name") Name
				input#name(type="text", name="name")
				input(type="submit")
		if(typeof id !== 'undefined' && typeof name !== 'undefined')
			#model #{id}: #{name}
		#errors
			a(href="/config") View the config
			
		div
			- var items = data
			each item in items
				li= item
